.app-add-form {
  margin-top: 30px;
  padding: 25px;
  background-color: rgb(6, 25, 61);
  border-radius: 4px;
  box-shadow: 15px 15px 30px grey;
  color: #fff;
}

.add-form {
  margin-top: 20px;
  input {
    width: 350px;
    margin-right: 20px;
  }
}
